##Creating A string

In [0]:
#string
s = 'you are awesome' #in single line
print(s)

you are awesome

In [0]:
s1 = ''' your are
doing awesome '''  #in multiple lines
print(s1)

 your are
doing awesome

In [0]:
s2 = "You are 'awesome!' "
print(s2)

You are 'awesome!'

##Slicing a string

In [0]:
print (s[0:5]) #prints first 5 letters

you a

In [0]:
print(s[:5])

you a

In [0]:
print(s[:-1]) #prints everything apart from last letter

you are awesom

In [0]:
print(s[0:9:2]) #prints every 2nd letter between 0 to 9

yuaea

##Striping Whitespaces

In [0]:
s3 = ' You are awesome ' #here we have left whitespaces at the end and beginning of string
print(s3.strip())

You are awesome

In [0]:
print(s3.lstrip()) #left strip - removes whitespaces from left of the string
print(s3.rstrip()) #right strip - removes spaces from right of the string

You are awesome
 You are awesome

##Find

In [0]:
print(s.find('awe'))  #here we get the index at which the string if present

8

In [0]:
print(s.count('a')) #Find number of times a appears in the given string

2

In [0]:
print(s.replace('awesome','super')) #replacing awesome with super

you are super

In [0]:
print(s.upper())  #making each word upper case

YOU ARE AWESOME

In [0]:
print(s.lower()) #making each word lower case

you are awesome

In [0]:
print(s.title()) #First letter of each word will be capital and rest small case

You Are Awesome

#List

In [0]:
lst = [] #empty list 
print(lst)

[]

In [0]:
lst = [2,5,True,30.5,'Awesome',50.5] #list can hold int.float,boolean or strings
print(lst)

[2, 5, True, 30.5, 'Awesome', 50.5]

##List slicing

In [0]:
print(lst[2:5]) #prints the element between index 2 & 5. It excludes the last index element.

[True, 30.5, 'Awesome']

In [0]:
print(lst * 2) #it makes all the elemnts twice in a list

[2, 5, True, 30.5, 'Awesome', 50.5, 2, 5, True, 30.5, 'Awesome', 50.5]

In [0]:
print(len(lst)) #prints the length of the string

6

##Adding and removing elemts in a list

In [0]:
lst.append(55) #adds the elemnt at the end of the string
print(lst)

[2, 5, True, 30.5, 'Awesome', 50.5, 55]

In [0]:
lst.remove('Awesome') #removes the element awesome from the list
print(lst)

[2, 5, True, 30.5, 50.5, 55]

In [0]:
del(lst[1]) #removes the element at index 1
print(lst)

[2, True, 30.5, 50.5, 55]

In [0]:
lst.sort() #sorts the elements in ascending order
print(lst)

[True, 2, 30.5, 50.5, 55]

In [0]:
lst.sort(reverse=True) #sorts the elements in descending order

In [0]:
print(lst)

[55, 50.5, 30.5, 2, True]

In [0]:
print(max(lst)) #prints maximum from the list
print(min(lst)) #prints minimum from the list

55
True

In [0]:
lst1 = [4,5,8,10]
lst1.insert(3,99) #adds 99 at index 3
print(lst1)

[4, 5, 8, 99, 10]

#Tuple

In [0]:
#Tuples are immutable
#We can not perform slicing and dicing on tuples
#always specify , after single lement in python

In [0]:
tpl= (4,5,8,3,4) #tuples are encolsed in ().
print(type(tpl))
print(tpl)

<class 'tuple'>
(4, 5, 8, 3, 4)

In [0]:
tpl1 = (4)  #int
tpl2 = (4,) #tuple
print(type(tpl1))
print(type(tpl2))

<class 'int'>
<class 'tuple'>

In [0]:
print(tpl[0]) #print element at index 0

4

In [0]:
print(tpl * 3) #tree times the list elements

(4, 5, 8, 3, 4, 4, 5, 8, 3, 4, 4, 5, 8, 3, 4)

In [0]:
print(tpl.count(5)) #count of 5 in tuple

1

In [0]:
print(tpl.index(5))  #index of element 5

1

In [0]:
lst = [67,34,'xyz']
type(lst)

list

In [0]:
tpl3 = tuple(lst)
print(type(tpl3))
print(tpl3)

<class 'tuple'>
(67, 34, 'xyz')

#Set

In [0]:
s = {10,20,30,'xyz'}  #set is enclosed in {}
print(s)

{'xyz', 10, 20, 30}

In [0]:
#set doesn't allows duplicacy
#we cannot perform indexing, slicing and repetitions on set

In [0]:
s.update([88,99])  #there's no ordering as well
print(s)

{99, 10, 'xyz', 20, 88, 30}

In [0]:
type(s)

set

#Range

In [0]:
r = range(5) #r holds all values b/w 0 to 5
print(r)

range(0, 5)

In [0]:
for i in r:
  print(i)

0
1
2
3
4

In [0]:
r = range(1,15,5) #rnage b/w 1 to 5 with the step of 5
for i in r:
  print(i)

1
6
11

#Dictionary

In [0]:
#dictionary holds keys and values pairs
dic = {1:'John',2:'Joe',3:'bob'}
print(dic)

{1: 'John', 2: 'Joe', 3: 'bob'}

In [0]:
print(dic.items())  #it prints key and values in tuple form

dict_items([(1, 'John'), (2, 'Joe'), (3, 'bob')])

In [0]:
print(dic.values())  #it only prints the values

dict_values(['John', 'Joe', 'bob'])

In [0]:
print(dic.keys())   #it only prints the keys

dict_keys([1, 2, 3])

In [0]:
print(dic[3])  #indexing starts with zero in dictionary

bob

In [0]:
lst5 = ['India','China','Nepal']
print(lst5)
lst5.append('USA')
print(lst5)
del(lst5[2])
print(lst5)
lst5.insert(2,'Germany')
print(lst5)

['India', 'China', 'Nepal']
['India', 'China', 'Nepal', 'USA']
['India', 'China', 'USA']
['India', 'China', 'Germany', 'USA']

In [0]:
set1 = {'India','China','Nepal'}
print(set1)
set1.add('USA')
print(set1)
set1.remove('China')
print(set1)

{'India', 'China', 'Nepal'}
{'India', 'China', 'USA', 'Nepal'}
{'India', 'USA', 'Nepal'}

#Arithmetic operator

In [0]:
a, b = 10,5                 #variable assignment
print('Addition',a+b)       #addition
print('Subtraction',a-b)    #subtraction
print('Multipliction',a*b)  #Multiplication
print('Division',a/b)       #Division
print('Remainder',a%b)      #Remainder
print('Floor division',a//b) #Floor division
print('Exponent',a**5)      #exponent

Addition 15
Subtraction 5
Multipliction 50
Division 2.0
Remainder 0
Floor division 2
Exponent 100000

##Variable Assignment

In [0]:
a = 10 # '=' operator assigns the value 10 to variable a
print(a)

10

In [0]:
#compound assignment
a += 5 #it is similar as a = a+5 and can be used with all operators
print(a)

15

##Comparison operators

In [0]:
# '==', '!=', '>', '<', '>=', '<='  these are called comparison operators

In [0]:
x,y = 10,5 #assigning a = 5 and y = 5

In [0]:
x == y #it return boolean values. if the condition is satisfied it return true otherwise false

False

In [0]:
x != y

True

In [0]:
x > y

True

In [0]:
x >= y

True

In [0]:
x < y

False

In [0]:
x <= y

False

#Logical operators

In [0]:
# 'and', 'or', 'the'
x, y = 40,50
print((x ==40 and y == 50))

True

In [0]:
print((x==20 and y ==50)) # both conditions should be true in and operator

False

In [0]:
print((x==20 or y==50))  #at least 1 condition must be true

True

In [0]:
print(not(x==20 or y==50)) #reverse

False

#Input/Output and string formatting

In [0]:
name = 'john'
marks = 90.52
print('Name is',name,'Marks are',marks)  #formatting strings using commas

Name is john Marks are 90.52

In [0]:
#string formatting using %f and %s
print('Name is %s and marks are %f'%(name,marks))

Name is john and marks are 90.520000

In [0]:
#we can limit the float upto 2 decimal places by using %.2f
print('Name is %s and marks are %.2f'%(name,marks))

Name is john and marks are 90.52

In [0]:
#formatting using .fromat()
print('Name is {} and marks are {}'.format(name,marks))

Name is john and marks are 90.52

In [0]:
s = input() #taking input from keyboard
print(s)    #the type of input is always int if other class is not specified
print(type(s))

1 4 5
1 4 5
<class 'str'>

In [0]:
#lets specify the class to integer
r = int(input("Enter number : "))
print(r)
print(type(r))

Enter number : 123
123
<class 'int'>

In [0]:
#taking multiple inputs from user
lst = [x for x in input('Enter three numbers:').split()] #we are splitting based on whitespaces and keeping it in a list
print(lst)

Enter three numbers:2 3 5
['2', '3', '5']

In [0]:
#as we can see above the default class is string.
#to covert it into integer
lst = [int(x) for x in input('Enter three numbers:').split()] 
print(lst)

Enter three numbers:12 34 54
[12, 34, 54]

##Some programs

In [0]:
''' Take the student id, name and marks from user and print it'''
s_id = int(input("Enter student's id : "))
name = input('Enter Name : ')
marks = float(input('Enter marks : '))
print('ID : {}, Name : {},Marks : {}'.format(s_id,name,marks))

Enter student's id : 234
Enter Name : manz
Enter marks : 99
ID : 234, Name : manz,Marks : 99.0

In [0]:
''' Average of three numbers '''
a,b,c = [int(x) for x in input('Enter three number').split()] 
average = (a+b+c)/3
print(average)

Enter three number 1 5 60
22.0

In [0]:
#Area of a circle
pi = 3.14
r = int(input('Enter radium of circle '))
area = pi*(r**2)
print('Area of circle is',area)

Enter radium of circle 5
Area of circle is 78.5

#Flow control

In [0]:
#If else
#in if statement if the boolean condition is true then the code is executed
#else the code is not executed

In [0]:
#WAP to find whether a number is even or odd
a = int(input('Enter the number : '))
if a%2 == 0:
  print('{} Number is even'.format(a))
else:
  print('{} Number is odd'.format(a))

Enter the number : 98
98 Number is even

In [0]:
#take input from user for maths, physics and chemistry marks of students
#if marks is less than 35 in any subject then display students failed
#calculate average marks if average marks is <= 59 grad c, <=69 grad c, >69 then grade A

In [0]:
maths,physics,chemistry = [int(x) for x in input('Enter the marks : ').split()]
if maths < 35:
  print('Fail')
elif physics < 35:
  print('Fail')
elif chemistry < 35:
  print("Fail")
else:
  avg = (maths+physics+chemistry)/3
  if avg <= 59:
    print("Grade C")
  elif avg <=69 and avg >= 60:
    print('Grade B')
  elif avg >= 70:
    print('Grade A')

Enter the marks : 55 70 80
Grade B

In [0]:
#While loop
#print number b/w 1 to 20 using while loop
x = 1
while (x<=20):
  print(x)
  x += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [0]:
#print odd numbers between given numbers
x = int(input('Enter the min number : '))
y = int(input('Enter the max number : '))
i = x
if i % 2 == 0:
  i += 1
while(i<y):
  print(i)
  i += 2

Enter the min number : 0
Enter the max number : 6
1
3
5

In [0]:
#for loop
#display number b/w 30 to 40

In [0]:
for i in range(30,40): #it exludes 40 and prints till 39
  print(i)

30
31
32
33
34
35
36
37
38
39

In [0]:
#print every 2nd elements b/w 30 and 40
for i in range(30,40,2): #we using steps 2 for every 2nd element
  print(i)

30
32
34
36
38

In [0]:
#product of number in a list
lst = [1,2,3,4,5]
product = 1
for i in lst:
  product *= i
print(product)

120

In [0]:
#Multiplication table of given numbers
x = int(input('Enter a number : '))
for i in range(1,11):
  print('5 * {} = '.format(i),x*i)

Enter a number : 2
5 * 1 =  2
5 * 2 =  4
5 * 3 =  6
5 * 4 =  8
5 * 5 =  10
5 * 6 =  12
5 * 7 =  14
5 * 8 =  16
5 * 9 =  18
5 * 10 =  20

In [0]:
#break 
#break the loop when five is found
x = [4,3,6,5,12,43]
for i in x:
  if i==5:
    break
  print(i)

4
3
6

In [0]:
#print numbers b/w 1 to 20
#skip multiples of 3
x = 0
while x<20:
  x += 1
  if x % 3 == 0:
    continue
  print(x)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [0]:
#program
#Ask user to enter numbers
#Display all number upto that
#skip multiple of 10
#stop if the number >100

In [0]:
x = int(input('Enter a number : '))
i = 0
while i<x:
  i += 1
  if (i%10 == 0):
    continue
  elif(i>100):
    break
  print(i)

Enter a number : 105
1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
61
62
63
64
65
66
67
68
69
71
72
73
74
75
76
77
78
79
81
82
83
84
85
86
87
88
89
91
92
93
94
95
96
97
98
99

In [0]:
#WAP to find out whether a given number is prime or not
x = int(input())
for i in range(2,x-1):
  if (x % i == 0):
    print('Not a Prime number')
  else:
    print('It is a prime number')
  break

13
It is a prime number

In [0]:
#command line statements
import sys
lst = sys.argv
for i in lst:
  print(i)
print(len(lst))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py
-f
/root/.local/share/jupyter/runtime/kernel-031c0b96-3b96-4289-91d6-66ab420b3c7a.json
3

#Functions

In [0]:
#define a function to find average of two numbers
def avg(a,b):
  print((a+b)/2)
avg(5,5)

5.0

In [0]:
def avg(a,b):
  return (a+b)/2  #using return keyword
print(avg(5,6))

5.5

In [0]:
def calc(a,b):
  x = a+b
  y = a-b
  z= a*b
  u = a/b
  return x,y,z,u   #returns multiple values
result = calc(10,5)
for i in result:
  print(i)

15
5
50
2.0

In [0]:
#global and local variables
x = 234 #global variable can be assesed anywhere in program
def display():
  y = 675      #local vaiable cannot be assesed outside function body
  return y
print(display())
print(x)

675
234

In [0]:
#global and local variables
x = 234 #global variable can be assesed anywhere in program
def display():
  x = 675      #local vaiable cannot be assesed outside function body
  return x
#here we have used x and assigned different value inside function
print(display())
print(x)

675
234

In [0]:
#Accessing global variable with the same name
x = 234 #global variable can be assesed anywhere in program
def display():
  x = 675      
  print(x)
  print(globals()['x'])
  return x
print(display())

675
234
675

In [0]:
#write a function inside a function
def display(name):
  def message():
    return 'Hello'
  result = message() + " " + name
  return result
display('Aman')

'Hello Aman'

In [0]:
#passing function as parameter
def display(fun):
  return 'Hello '+fun  #function 1

def name():
  return 'Manvendra'  #function 2
#passing name function as parameter in display function
print(display(name()))

Hello Manvendra

In [0]:
#recursion 
def factorial(n):
  if n== 0:
    result = 1
  else:
    result = n * factorial(n-1)
  return result
factorial(5)

120

#Lambda Function

In [0]:
f = lambda x: x**3 #cube of a number
print(f(2))

8

In [0]:
#even or odd
n = lambda x: "yes" if x%2==0 else "no"
print(n(6))

yes

In [0]:
add = lambda a,b: a+b #addition of two numbers
print(add(5,5))

10

In [0]:
#using filter
#reterive even numbers from a given number
lst = [10,5,78,23,98]
xy = list(filter(lambda x: x%2==0,lst))
print(xy)

[10, 78, 98]

In [0]:
#using map function
#double each number in the list
lst = [2,3,4,5]
result = list(map(lambda x: x*2,lst))
print(result)

[4, 6, 8, 10]

In [0]:
#reduce function
#calculate sum of all elements in list
lst = [5,10,15,20]
from functools import reduce
result =reduce(lambda x,y: x+y,lst)
print(result)

50

#Decorators
It adds special meaning to existing function

In [0]:
def decor(fun):
  def inner():
    result = fun()
    return result*2
  return inner
def num():
  return 5
resultfun = decor(num)
print(resultfun())

10

In [0]:
#using @decor
def decor(fun):
  def inner():
    result = fun()
    return result*2
  return inner

@decor
def num():
  return 5
print(num())

10

#Generators
It return sequence of values back

In [0]:
def customgen(x,y):
  while x < y:
    yield x
    x += 1
result = customgen(20,30)
for i in result:
  print(i)

20
21
22
23
24
25
26
27
28
29

#List comprehension

In [0]:
#find cube of all number b/w 1 to 10
lst = [x**3 for x in range(1,11)]
print(lst)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [0]:
lst = [x for x in range(1,21) if x%2==0]
print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [0]:
#product of elements in 2 different list
a = [1,2,3,4]
b=[5,6,7,8]
z = [a[i]*b[i] for i in range(len(a))]
print(z)

[5, 12, 21, 32]

In [0]:
#common elements of 2 given lists
a = [1,2,3,4]
b = [1,4,5,6]
z = [i for i in a if i in b]
print(z)

[1, 4]

#Reading and writing files

In [2]:
f = open('myfile.txt','w')  #opening file in write mode
s = input('Enter text:')    #taking input
f.write(s)                  #writing input in file
f.close()                   #closing the file

Enter text:hey

In [3]:
#read from a file
f = open('myfile.txt','r')  #opening file in read mode
s = f.read()
print(s)

hey

In [5]:
#writing multiple strings
f = open('myfile.txt','w')  #opening file in write mode
print('Enter text(type # when you are done)')
s = ' '
while s != '#':  
  s = input()
  f.write(s)                  #writing input in file
f.close()                   #closing the file

Enter text(type # when you are done)
shoot for the moon
even if you fall
you will land among the stars
#

In [12]:
#check if file exists
import os,sys
if os.path.isfile('myfile.txt'):
  f = open('myfile.txt','r')  #opening file in read mode
  s = f.read()
  print(s)
  f.close()
else:
  print("file doesn't exists")
  sys.exit()

shoot for the mooneven if you fallyou will land among the stars#

#Regex

In [0]:
#sequence characters
#\d matches digits \D does the opposite
#\s matches white space \S does the opposite
#\w for any alpha numeric values \W matches opposite
#\b matches space around the words
#\A matches only start of the string
#\Z matches only at the end of string

In [14]:
#Search
import re
ch ='Take up one idea.One idea at a time'
result=re.search(r'o\w\w',ch)               #it gives us the first substring that matches the pattern
print(result.group())

one

In [15]:
#findall
  #it gives back all the subtring that matches the given pattern in a string
import re
ch ='Take up one idea.one idea at a time'
result=re.findall(r'o\w\w',ch)               
print(result)

['one', 'one']

In [16]:
#match
  #it search for pattern right at the begining of the string
import re
ch ='Take up one idea.one idea at a time'
result=re.match(r'o\w\w',ch)               
print(result)

None

In [17]:
import re
ch ='Take up one idea.one idea at a time'
result=re.match(r'T\w\w',ch)              #It only looks for the pattern at the beginning of the string.     
print(result.group())

Tak

In [18]:
#split
ch ='Take 1 up one 12 idea.one idea 45 at a time'
result = re.split(r'\d+',ch)
print(result)

['Take ', ' up one ', ' idea.one idea ', ' at a time']

In [20]:
#subsitute
ch ='Take up one idea.one idea at a time'
result = re.sub(r'one','two',ch)
print(result)

Take up two idea.two idea at a time

In [0]:
#quantifiers
# + for 1 or more 
# * 0 or more
# ? 0 zero or 1
# {m} exactly m occurences 
# {m,n} m in minum occurences and n is maximum occurences

In [22]:
ch ='Take up one idea.one idea at a time'
result = re.findall(r'o\w+',ch)
print(result)

['one', 'one']

In [23]:
ch ='Take up one idea.one idea at a time'
result = re.findall(r'o\w*',ch)
print(result)

['one', 'one']

In [24]:
ch ='Take up one idea.one idea at a time'
result = re.findall(r'o\w?',ch)
print(result)

['on', 'on']

In [25]:
ch ='Take up one idea.one idea at a time'
result = re.findall(r'o\w{1}',ch)
print(result)

['on', 'on']

In [26]:
ch ='Take up one idea.one idea at a time'
result = re.findall(r'o\w{2}',ch)
print(result)

['one', 'one']

In [27]:
ch ='Take up one idea.one idea at a time'
result = re.findall(r'o\w{1,2}',ch)
print(result)

['one', 'one']

In [28]:
#matching dates
ch ='Take 02-01-2020 up one idea.one idea at a time 02-03-2020'
result = re.findall(r'\d{1,2}-\d{1,2}-\d{1,4}',ch)
print(result)

['02-01-2020', '02-03-2020']

In [0]:
#special characters
# \ escape characters
# . matches any character except a newline
# ^ matches at the beginning f the string
# $ matches at the end of the string
# [...] we can specify range of values
# [^...] matches every character except the one in brackets
# (..) we can specify any regular expression within it
# (R|S) we can specify multiple regular expressions

In [31]:
# ^ matches pattern at beginning of string
ch ='Take up one idea.one idea at a time'
result = re.search(r'^o\w',ch)
print(result)

None

In [0]:
#This notebook is based on the tutorials of Python core and advanced by Mr. Bharath Thippireddy on udemy
# link :- https://www.udemy.com/course/python-core-and-advanced/